



.app__specialMenu {
    flex-direction: column;
    background: #000201;
}

.app__specialMenu-title {
    margin-bottom: 2rem;
    text-align: center;
}

.app__specialMenu-menu {
    width: 100%;
    margin:2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}


.app__specialMenu-menu_heading {
    font-family: var(--font-base);
    font-weight: 420;
    font-size: 40px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: var(--color-white);

}



.app__specialMenu-menu_wine, 
.app__specialMenu-menu_cocktails {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__specialMenu-menu_img {
    margin-top:30px; 
    display: flex;
    justify-content: space-around;
    width: 410px;
    margin: 0 2rem;
    margin-top: 50px;
}

.app__specialMenu-menu_img img{

    width: 100%;
    height: auto;
}

.app__specialMenu_menu_items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}

.form-select{
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    outline: 1px solid;
    border-right: 16px solid transparent;
  }







  select option[value="selectDrink"] {
    background: #0C0C0C;

  }
  select option[value="coffe"] {
    background: #0C0C0C;
  }
  
  select option[value="mutilice_cedjeni"] {
    background: #0C0C0C;
   
  }
  
  select option[value="mineralne_sokovi"] {
    background: #0C0C0C;
  }
  
  select option[value="zdrava_prica_smoothie"] {
    background: #0C0C0C;
  }

    select option[value="dorucak_paketi"] {
        background: #0C0C0C;


    }
        select option[value="razonoda_berlin"] {
            background: #0C0C0C;

        }

        select option[value="Dezerti"] {
            background: #0C0C0C;

        }

        .customh1 {
            font-size: 40px!important;
        }


@media screen  and (max-width: 2000px) {
    

    .app__specialMenu-menu_img {
        width: 400px;
    }

    .app__specialMenu-menu_img img {
        height: auto;
    }
}










@media screen and (max-width: 1150px) {
   
    
    .app__specialMenu-menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    /* .rotating-logo {
            display: none;
    } */

    /* .mobile {
        display: block;
    } */

    .mobile_contianer_logo {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }



    .app__specialMenu-menu_img {
        margin: 3rem 0;
    }

    .app__specialMenu-title  {
        margin-bottom: 0rem;

    }
}

@media screen and (max-width: 650px) {
    .app__specialMenu-menu_img {
        width: 100%;
        
    }

    .app__specialMenu-menu_heading {
        font-size: 35px;
        line-height: 48.5px;
    }
}

.app__specialMenu_menu_items p {
    font-size: 20px;
}

.customh1 {
    font-size: 20px!important;
}


.app__menuitem-sub p {
    font-size: 13px;
}